<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Sistema Integrado de Gestión de Notas {% block titulo %}{% endblock %}</title>
	<!—[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]—>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css"
		rel="stylesheet">
	{% block style_css %}{% endblock %}
</head>
	
<body>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<header>
		{% block encabezado %}{% endblock %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand">Colegio Huellitas Genitales</a>
	
					<div class="btn-group pull-right">
						<a class="btn btn-primary" href="#"><i
							class="icon-user icon-white"></i> Usuario</a> <a
							class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
							href="#"><span class="caret"></span></a>
	
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-cog"></i> Editar perfil</a></li>
							<li><a href="#"><i class="icon-pencil"></i> Cambiar
									contraseña</a></li>
							<li class="divider"></li>
							<li><a href="/logout_school"><i class="i"></i> Salir</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</header>	
	
	<section class="verticalNav">
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<ul class="nav nav-tabs nav-stacked nav-pills">
						<li class="active"><a href='/qualifications'>Calificación</a></li>
						<li><a href="/reports">Informes</a></li>
						<li><a href="/courses">Cursos </a></li>
						<li><a href="/subjects">Materias</a></li>
						<li><a href="/goals">Logros</a></li>
						<li><a href="/students">Estudiantes</a></li>
						<li><a href="/teachers">Profesores</a></li>
						<li><a href="/grades">Grados</a></li>
						<li><a href="/headquarters">Sedes</a></li>
					</ul>
				</div>
				<div class="span10">
				{% block contenido %}{% endblock %} 
				</div>
			</div>
		</div>
	</section>
	
</body>
	
<footer class="footer">
	{% block piepagina %}{% endblock %}
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
		<h5 class="text-center">Desarrollado por: <a href="www.google.com" target="_blank" class="footerLink">Smile
					Software</a> &copy; 2013</h5>
		</div>
		</div>	
</footer>
</html>