{% extends 'base_administrator.html' %} 
{% block titulo %} Cursos {%endblock %} 
{% block encabezado %} 
{% endblock %} 
{% block contenido %}

<div class="container-fluid">

	<form id="frmOptions" method="post" class="form-inline text-center">
		<button type="button" class="btn btn-primary offset0.5"
			data-toggle="modal" data-target="#m_n_course">
			<i class="icon-plus"></i>Nuevo
		</button>
		<label id="margins">Año <select class="comboboxGrado">
				<option value="">2001</option>
				<option value="">2002</option>
				<option value="">2003</option>
				<option value="">2005</option>
				<option value="">2006</option>
				<option value="">2007</option>
				<option value="">2008</option>
				<option value="">2009</option>
				<option value="">2010</option>
				<option value="">2011</option>
				<option value="">2012</option>
				<option value="">2013</option>
		</select>
		</label> <label id="margins">Grado <select class="comboboxGrado">
				<option value="">1</option>
				<option value="">2</option>
				<option value="">3</option>
				<option value="">5</option>
				<option value="">6</option>
				<option value="">7</option>
				<option value="">8</option>
				<option value="">9</option>
				<option value="">10</option>
				<option value="">11</option>
		</select>
		</label>
	</form>
	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Año</th>
					<th>Director</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
					<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
				<tr>
					<td>Once 01</td>
					<td>2012</td>
					<td>Alexander Castro</td>
						<td>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_a_course">
							<i class="icon-check"></i>Asignar
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_v_course">
							<i class="icon-eye-open"></i>Ver
						</button>
						<button type="button" class="btn btn-mini btn-primary"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-pencil"></i>Editar
						</button>
						<button type="button" class="btn btn-mini btn-danger"
							data-toggle="modal" data-target="#m_d_course">
							<i class="icon-trash"></i>Eliminar
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="m_n_course" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="myModalLabel">Registro Nuevo Curso</h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal">

			<div class="control-group">
				<label class="control-label" for="inputGrade">Grado:</label>
				<div class="controls">
					<select id="inputGrade">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputYear">Año:</label>
				<div class="controls">
					<select id="inputGrade">
						<option>2001</option>
						<option>2002</option>
						<option>2003</option>
						<option>2004</option>
						<option>2005</option>
						<option>2006</option>
						<option>2007</option>
						<option>2008</option>
						<option>2009</option>
						<option>2010</option>
						<option>2011</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTeacher">Director de
					grado:</label>
				<div class="controls">
					<select id="inputGrade">
						<option>Andres</option>
						<option>Jose</option>
						<option>Sebastian</option>
						<option>Cristhian</option>
						<option>Leonardo</option>
						<option>Alexander</option>
						<option>Javier</option>
						<option>Diego</option>
						<option>Jose 2</option>
						<option>Santiago</option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancelar</button>
		<button class="btn btn-primary">Guardar</button>
	</div>
</div>

<div id="m_d_course" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="myModalLabel">Eliminar Curso</h3>
	</div>
	<div class="modal-body">
	<p>¿Esta seguro que desea eliminar el curso:?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancelar</button>
		<button class="btn btn-danger">Eliminar</button>
	</div>
</div>

{% endblock %}
{% block piepagina %}
{% endblock %}