{% extends 'base_administrator.html' %}

{% block titulo %} Profesores {% endblock %}

{% block encabezado %} 
	
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	<form id="frmOptions" method="post" class="form-inline text-center">
	
   		<button type="submit" id="buttonLogin" class="btn btn-large btn-primary offset0.5"><i class="icon-plus"></i>Nuevo</button>
	
		<label id="margins">Grado			
			<select class="comboboxGrado">
			  <option value="">1</option>
			  <option value="">2</option>
			  <option value="">3</option>
			  <option value="">5</option>
			  <option value="">6</option>
			  <option value="">7</option>
			  <option value="">8</option>
			  <option value="">9</option>
			  <option value="">10</option>
			  <option value="">11</option>
			</select>
		</label>
	
		<label id="margins">Materia			
			<select class="combobox">
			  <option value="">Educación Sexual</option>
			  <option value="">Trigonometria</option>
			  <option value="">Matemáticas</option>
			  <option value="">Biología</option>
			  <option value="">Educación Física</option>
			</select>
		</label>					
	</form>	
	
	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Logro</th>
					<th>Materia</th>
					<th>Periodo</th>
					<th>Grado</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Uso correcto del condón</td>
					<td>Educación Sexual</td>
					<td>3</td>
					<td>Once</td>
					<td> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>		
			</tbody>
		</table>
	</div>
</div>

{% endblock %} 

{% block piepagina %}{% endblock %}