{% extends 'base_administrator.html' %} 
{% block titulo %} Grados {%endblock %} 
{% block encabezado %} 
{% endblock %} 
{% block contenido %}

	<div class="container-fluid">
		<form name="optionsGrades" id="frmOptions" method="post" class="form-inline text-center">
			{% csrf_token %}
			<a href="/grades/new" role="button" class="btn btn-primary offset0.5"><i class="icon-plus"></i>Nuevo</a>		
			<label id="margins">Sede</label>
			<select class="comboboxSede" name="headquarters" onchange="update_grades()">							
				{% if headquarter_selected == '-1' %}
						<option value="-1" selected="selected">Todos</option>
					{% else %}
						<option value="-1">Todos</option>
					{% endif %}
					{% for headquarter in headquarters %}	
						{% if headquarter_selected == headquarter.headquarter_id %}
							<option value="{{headquarter.headquarter_id}}" selected="selected">{{headquarter.headquarter_name}}</option>
						{% else %}
							<option value="{{headquarter.headquarter_id}}">{{headquarter.headquarter_name}}</option>
						{% endif %}
					{% endfor %}					
			</select>				
			<a href="/grades/history" role="button" class="btn btn btn-primary offset6"><i class="icon-list-alt"></i> Historial</a>			
		</form>
		
		{% if message %}	
			<div class="alert alert-success">
			 	<p>{{message}}</p>
			</div>
		{% endif %}
		
		<div id="scroll">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th>Nombre Grado</th>
						<th>Sede</th>
						<th>Año</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					{% for grade in grades %}
					<tr>
						<td>{{ grade.grade_name }}</td>
						<td>{{ grade.grade_headquarter }}</td>
						<td>{{ grade.grade_year }}</td>
						<td>
							<a href="/courses" role="button" class="btn btn-mini btn-primary">
								<i class="icon-eye-open"></i> Ver</a>				
							<a href="/grades/edit/{{grade.grade_id}}" role="button" class="btn btn-mini btn-primary">
								<i class="icon-pencil"></i> Editar</a>	
							<a href="/grades/delete/{{grade.grade_id}}" role="button" class="btn btn-mini btn-danger" >
								<i class="icon-trash"></i> Eliminar</a>							
						</td>
					</tr>
					{% empty %}
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>Ningún grado para mostrar.</p>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if form %}
			<script type="text/javascript">
			    $(document).ready(function(){
			    	model_grade();
			    });
			</script>			
	{% elif delete %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	 model_delete_grade();
		    });
		</script>
	{% endif %}

	<form class="form-horizontal" method="post">
		{% csrf_token %} 
		<div id="m_grade" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
	    	<div class="modal-header">
	      		<a href="/grades" type="button" class="close">x</a>
				{% if edit %}
					<h3 id="myModalLabel">Editar Grado</h3>
				{% else %}
	      			<h3 id="myModalLabel">Registro Nuevo Grado</h3>
	      		{% endif %}
	    	</div>
	
	    	<div class="modal-body">
	        	{{ form.non_field_errors }} 
	        	{% if warning %}
	        		<div class="alert alert-error">
						<p><i class="icon-exclamation-sign"></i><strong>¡Alerta!</strong> {{warning}}</p>
					</div>				
				{% endif %}	
			
	        	<div class="control-group">
	          		<label class="control-label" for="inputHeadquarter">Sede:</label>	
	          		<div class="controls">
	            		{{ form.grade_headquarter }}
	          		</div>
        		</div>        	
	
		        <div class="control-group">		       		
		       		<label class="control-label" for="inputGrade">Grado:</label>		
		          	<div class="controls">
		            	{{form.grade_name}}
		          	</div>
		        </div>		        
		    </div>
		
	        <div class="modal-footer">
	          <a href="/grades" type="button" class="btn">Cancelar</a> <button type="submit"
	          class="btn btn-primary">Guardar</button>
	        </div>     
	  </div>
	</form>




	<form method="post">
		{% csrf_token %}
		<div id="m_d_grade" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/grades" type="button" class="close">×</a>
				<h3 id="myModalLabel">Eliminar Grado</h3>
			</div>
			{% if warning %}
				<div class="modal-body">
	        		<div class="alert alert-error">
						<p>{{warning}}</p>
					</div>
				</div>	
				<div class="modal-footer">
					<a href="/grades" type="button" class="btn">Aceptar</a>
				</div>				
			{% else %}
				<div class="modal-body">
	        		<p>¿Esta seguro que desea eliminar el grado: {{grade.grade_name}}?</p>
				</div>	
				<div class="modal-footer">
					<a href="/grades" type="button" class="btn">Cancelar</a>
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</div>	
			{% endif %}
		</div>
	</form>

{% endblock %} 
{% block piepagina %}
{% endblock %}