{% extends 'base_administrator.html' %}

{% block titulo %} Grados {% endblock %}

{% block encabezado %} 
	
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	<form id="frmOptions" method="post" class="form-inline text-center">
	
   		<button type="submit" id="buttonLogin" class="btn btn-large btn-primary offset0.5"><i class="icon-plus"></i>Nuevo</button>
	
		<label id="margins">Año			
			<select class="comboboxGrado">
			  <option value="">2001</option>
			  <option value="">2002</option>
			  <option value="">2003</option>
			  <option value="">2005</option>
			  <option value="">2006</option>
			  <option value="">2007</option>
			  <option value="">2008</option>
			  <option value="">2009</option>
			  <option value="">2010</option>
			  <option value="">2011</option>
			  <option value="">2012</option>
			  <option value="">2013</option>
			</select>
		</label>	
	</form>	
	
	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Año</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Once</td>
					<td>2012</td>
					<td> <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

{% endblock %} 

{% block piepagina %}{% endblock %}