{% extends 'base_administrator.html' %} 
{% block titulo %} Sedes {%endblock %} 
{% block encabezado %} 
{% endblock %} 
{% block contenido %}
	<div class="container-fluid">
		<a href="/headquarters/new" class="btn btn-primary offset0.5"
		type="button"><i class="icon-plus"></i>Nueva</a> 
				
		<div id="myCarousel" class="carousel slide" data-pause="pause">
			<ol class="carousel-indicators">
				{% for headquarter in headquarters %}
					{% if forloop.counter0 == 0%}
						<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
					{% else %}
						<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class></li>
					{% endif %}
				{% endfor %}
			</ol>
			<div class="carousel-inner text-center">
				{% for headquarter in headquarters %}
					{% if forloop.counter == 1%}
						<div class="active item">
							<img src="{{MEDIA_URL}}{{ headquarter.headquarter_image }}" alt>
							<div class="carousel-caption">
								<h4>Nombre: {{headquarter.headquarter_name}}</h4>
								<p>Dirección: {{headquarter.headquarter_address}}</p>
		                    	<p>Teléfono: {{headquarter.headquarter_phone}}</p>
		                    	<a href="/headquarters/edit/{{headquarter.headquarter_id}}" role="button" class="btn btn-primary">
								<i class="icon-eye-open"></i> Ver grados</a>
  								<a href="/headquarters/edit/{{headquarter.headquarter_id}}" role="button" class="btn btn-primary">
								<i class="icon-pencil"></i> Editar</a>
								<a href="/headquarters/delete/{{headquarter.headquarter_id}}" role="button" class="btn btn-danger">
								<i class="icon-trash"></i> Eliminar</a>
		                    </div>
						</div>
					{% else %}
						<div class="item">
							<img src="{{MEDIA_URL}}{{ headquarter.headquarter_image }}" alt>
							<div class="carousel-caption">
		                     	<h4>Nombre: {{headquarter.headquarter_name}}</h4>
								<p>Dirección: {{headquarter.headquarter_address}}</p>
		                    	<p>Teléfono: {{headquarter.headquarter_phone}}</p>
		                    	<a href="/headquarters/edit/{{headquarter.headquarter_id}}" role="button" class="btn btn-primary">
								<i class="icon-eye-open"></i> Ver grados</a>
								<a href="/headquarters/edit/{{headquarter.headquarter_id}}" role="button" class="btn btn-primary">
								<i class="icon-pencil"></i> Editar</a>
								<a href="/headquarters/delete/{{headquarter.headquarter_id}}" role="button" class="btn btn-danger">
								<i class="icon-trash"></i> Eliminar</a>
		                    </div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	
	
	{% if form %}
			<script type="text/javascript">
			    $(document).ready(function(){
			    	model_headquarter();
			    });
			</script>
	{% elif delete %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	 model_delete_headquarter();
		    });
		</script>
	{% endif %}
	
	<form class="form-horizontal" method="post" enctype="multipart/form-data">
		<div id="m_n_headquarter" class="modal hide fade" tabindex="-1">
			<div class="modal-header">
				<a href="/headquarters" type="button" class="close">×</a>
				<h3 id="myModalLabel">Registro Nueva Sede</h3>
			</div>	
			<div class="modal-body">		
				{% csrf_token %}
				{{ form.non_field_errors }}			
				<div class="control-group">		
					{{ form.headquarter_name.errors }}	
					<label class="control-label" for="inputNameHeadquarter">Nombre:</label>
					<div class="controls">
						{{ form.headquarter_name }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form.headquarter_address.errors }}
					<label class="control-label" for="inputAdressHeadquarter">Dirección:</label>
					<div class="controls">
						{{ form.headquarter_address }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form.headquarter_phone.errors }}
					<label class="control-label" for="inputPhoneHeadquarter">Teléfono:</label>
					<div class="controls">
						{{ form.headquarter_phone }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form.headquarter_image.errors }}
					<label class="control-label" for="inputPhoneHeadquarter">Imágen:</label>
					<div class="controls">
						{{ form.headquarter_image }}
					</div>
				</div>
			</div>
				
			<div class="modal-footer">
				<a href="/headquarters" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>		
	</form>
	
	<form method="post">
		{% csrf_token %}
		<div id="m_d_headquarter" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/headquarters" type="button" class="close">×</a>
				<h3 id="myModalLabel">Eliminar Sede</h3>
			</div>
			<div class="modal-body">
				<p>¿Esta seguro que desea eliminar esta sede: {{ headquarter.headquarter_name }}?</p>
			</div>
			<div class="modal-footer">
				<a href="/headquarters" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-danger">Eliminar</button>
			</div>
		</div>
	</form>
{% endblock %}
{% block piepagina %}
{% endblock %}