{% extends 'base_administrator.html' %} 
{% block titulo %} Sedes {%endblock %} 
{% block encabezado %} 
{% endblock %} 
{% block contenido %}
<div class="container-fluid">
	<button type="button" class="btn btn-primary offset0.5"
		data-toggle="modal" data-target="#m_n_headquarter">
		<i class="icon-plus"></i>Nueva
	</button>
	<br></br>
	<br></br>
	  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{MEDIA_URL}}img/cover/bulletin.jpg" alt="Boletines">
          <div class="container">
            <div class="carousel-caption">
            	<form id="frmOptions" method="post" class="text-center">
	              <p>Nombre</p>
	              <p>NIT</p>
	              <p>Direccion</p>
	              <p>Telefono</p>
	              <p>Fax</p>
              	</form>
              <form id="frmOptions" method="post" class="form-inline text-center">
	              <a class="btn btn-large btn-primary" href="#">Editar</a>
	              <a class="btn btn-large btn-primary" href="#">Eliminar</a>
	          </form>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{MEDIA_URL}}img/cover/information.jpg" alt="Informacion">
          <div class="container">
            <div class="carousel-caption">
              <form id="frmOptions" method="post" class="text-center">
	              <p>Nombre</p>
	              <p>NIT</p>
	              <p>Direccion</p>
	              <p>Telefono</p>
	              <p>Fax</p>
              	</form>
              <form id="frmOptions" method="post" class="form-inline text-center">
	              <a class="btn btn-large btn-primary" href="#">Editar</a>
	              <a class="btn btn-large btn-primary" href="#">Eliminar</a>
	          </form>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{MEDIA_URL}}img/cover/lists.jpg" alt="Listas">
          <div class="container">
            <div class="carousel-caption">
              <form id="frmOptions" method="post" class="text-center">
	              <p>Nombre</p>
	              <p>NIT</p>
	              <p>Direccion</p>
	              <p>Telefono</p>
	              <p>Fax</p>
              	</form>
              <form id="frmOptions" method="post" class="form-inline text-center">
	              <a class="btn btn-large btn-primary" href="#">Editar</a>
	              <a class="btn btn-large btn-primary" href="#">Eliminar</a>
	          </form>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</div>

<div id="m_n_headquarter" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="myModalLabel">Registro Nueva Sede</h3>
	</div>	
	<div class="modal-body">
		<form class="form-horizontal" method="post">			
			<div class="control-group">				
				<label class="control-label" for="inputName">Nombre:</label>
				<div class="controls">
					<input type="text" value="Enter your name here!">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputNIT">NIT:</label>
				<div class="controls">
					<input type="text" value="Enter NIT here!">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputAdress">Dirección:</label>
				<div class="controls">
					<input type="text" value="Enter school adress here!">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPhone">Teléfono:</label>
				<div class="controls">
					<input type="text" value="Enter school phone here!">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFax">Fax:</label>
				<div class="controls">
					<input type="text" value="Enter fax number here!">
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block piepagina %}
{% endblock %}