{% extends 'base_administrator.html' %}

{% block titulo %} Calificación {% endblock %}

{% block encabezado %} 
	
{% endblock %}

{% block contenido %}
	<div class="container-fluid">
		<form id="frmOptions" method="post" class="form-inline">
   			<label>Periodo							
		  		<select class="comboboxPeriodo">
				  <option value="">1</option>
				  <option value="">2</option>
				  <option value="">3</option>
				  <option value="">4</option>
				</select>
			</label>
	
			<label>Grado			
				<select class="comboboxGrado">
				  <option value="">1</option>
				  <option value="">2</option>
				  <option value="">3</option>
				  <option value="">5</option>
				  <option value="">6</option>
				  <option value="">7</option>
				  <option value="">8</option>
				  <option value="">9</option>
				  <option value="">10</option>
				  <option value="">11</option>
				</select>
			</label>
	
			<label>Curso			
				<select class="combobox">
				  <option value="">Once 01</option>
				  <option value="">Once 02</option>
				  <option value="">Once 03</option>
				  <option value="">Decimo 01</option>
				  <option value="">Decimo 02</option>
				  <option value="">Decimo 03</option>
				  <option value="">Noveno 01</option>
				  <option value="">Noveno 02</option>
				  <option value="">Noveno 03</option>
				  <option value="">Octavo 01</option>
				</select>
			</label>
	
			<label>Materia			
				<select class="combobox">
				  <option value="">Educación Sexual</option>
				  <option value="">Trigonometria</option>
				  <option value="">Matemáticas</option>
				  <option value="">Biología</option>
				  <option value="">Educación Física</option>
				</select>
			</label>					
		</form>
		
		<div id="scroll">
			<table class="table table-striped">  
				<thead>  
				    <tr>  
				      	<th>Periodo</th>  
				      	<th>Grado</th>  
				      	<th>Curso</th>  
				      	<th>Materia</th>
				   		<th>Docente</th>  
				    	<th>Opciones</th>    
	 				</tr>  
				 </thead>  
			     <tbody>  
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>
					<tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr>  
			        <tr>  
				        <td>001</td>  
				        <td>Once</td>  
				        <td>Once 01</td>  
				        <td>Educación Sexual</td>
				        <td>Alexander Castro</td> 
				        <td><a href="">Calificar</a></td>   
					</tr> 
				</tbody>  
			</table>  					
		</div>
	</div>
{% endblock %} 

{% block piepagina %}{% endblock %}

	
