{% extends 'base_administrator.html' %} 
{% block titulo %} Colegio {%endblock %} 
{% block encabezado %} 
{% endblock %} 
{% block contenido %}

	<div class="container_general">
		<div class="container-fluid">
			<form class="form-inline text-center" method="post">
				<div class="control-group">				
					<div class="controls">
						<h1 class="control-label" for="inputName">Colegio Huellitas Genitales</h1>
					</div>
				</div>
			</form>
			
			<div class="row-fluid">
				<div class="span3 offset2">
					<div class="thumbnail">
						<a href="/headquarters" title="Sedes"> <img
							src="{{MEDIA_URL}}img/cover/bulletin.jpg" alt="Sedes">
						</a>
						<h3 class="text-center">
							<a href="/headquarters" title="Sedes">
								Sedes </a>
						</h3>
					</div>
				</div>
			<div class="row-fluid">
				<div class="span3 offset2">
					<div class="thumbnail">
						<a href="" title="Año Escolar" data-toggle="modal" data-target="#m_school_year"> <img
							src="{{MEDIA_URL}}img/cover/lists.jpg" alt="Año Escolar">
						</a>
						<h3 class="text-center">
							<a href=""  title="Año Escolar" data-toggle="modal" data-target="#m_school_year"> Año Escolar </a>
						</h3>
					</div>
				</div>			
			</div>
		</div>	
	</div>
	
	<form class="form-horizontal" method="post">
		<div id="m_school_year" class="modal hide fade" tabindex="-1">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 id="myModalLabel">Año Acádemico</h3>
			</div>	
			<div class="modal-body">							
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					<h4><i class="icon-exclamation-sign"></i></h4>
						HTML EN PROCESO, ESPERALO MUY PRONTO...
				</div>	
			</div>		
			<div class="modal-footer">
				<a href="/school" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>		
		</div>
	</form>

{% endblock %} 

{% block piepagina %}{% endblock %}