{% extends 'base_administrator.html' %}

{% block titulo %}
	Estudiantes
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido%}
	<div class="container-fluid">
		<form name="optionsStudents" id="frmOptions" method="post" class="form-inline text-center">
			{% csrf_token %}
			<a href="/students/new" role="button" class="btn btn-primary"><i class="icon-plus"></i>Nuevo</a>
			
			<label id="margins">Estado</label>
			<select name="states" onchange="update_students()">
				{% if state_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% if state_selected == '1' %}
					<option value="1" selected="selected">Matriculado</option>
				{% else %}
					<option value="1">Matriculado</option>
				{% endif %}
				{% if state_selected == '0' %}
					<option value="0" selected="selected">No matriculado</option>
				{% else %}
					<option value="0">No matriculado</option>
				{% endif %}
			</select>
			
			<label id="margins">Grado</label> 
			<select name="grades" onchange="update_students()">
				{% if grade_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% for grade in grades %}
					{% if grade_selected == grade.grade_id %}
						<option value="{{grade.grade_id}}" selected="selected">{{grade.grade_name}}</option>
					{% else %}
						<option value="{{grade.grade_id}}">{{grade.grade_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
			
			<label id="margins">Curso</label>
			<select name="courses" onchange="update_students()">
				{% if course_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% for course in courses %}
					{% if course_selected == course.course_id %}
						<option value="{{course.course_id}}" selected="selected">{{course.course_name}}</option>
					{% else %}
						<option value="{{course.course_id}}">{{course.course_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</form>
		
		<div id="scroll">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Matriculado en</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
				{% for student in students %}
					{% if student.student_matriculated == 0 %}
						<tr class="error">
					{% else %}
						<tr>
					{% endif %}
						<td>{{ student.student_code }}</td>
						<td>{{ student.student_first_name }}</td>
						<td>{{ student.student_last_name }}</td>
												
						{% if student.student_course == None %}
							<td>Sin curso</td>
						{% else %}
							<td>{{ student.student_course.course_name }}</td>
						{% endif %}
						
						<td>
							{% if student.student_matriculated == 0 %}
								<a href="/#" role="button" class="btn btn-mini btn-primary">
								<i class="icon-pencil"></i> Matricular</a>
							{% else %}
								<a href="/#" role="button" class="btn btn-mini btn-primary">
								<i class="icon-pencil"></i> Editar matricular</a>
							{% endif %}
							<a href="/students/consult/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
							<i class="icon-pencil"></i> Consultar</a>
							<a href="/students/edit/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
							<i class="icon-pencil"></i> Editar</a>
							<a href="/students/delete/{{student.student_id}}" role="button" class="btn btn-mini btn-danger">
							<i class="icon-trash"></i> Eliminar</a>
						</td>
					</tr>
					{% empty %}
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>Ningún estudiante para mostrar.</p>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	{% if consult %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	model_consult_student();
		    });
		</script>
	{% elif delete %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	 model_delete_student();
		    });
		</script>
	{% elif form %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	model_student();
		    });
		</script>
	{% endif %}
	
	<script>
		$(function() {
			$('#student_date_of_birth').datepicker();
		});
	</script>
	
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<div id="m_n_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				{% if edit %}
					<h3 id="myModalLabel">Editar Estudiante</h3>
				{% else %}
					<h3 id="myModalLabel">Registro Nuevo Estudiante</h3>
				{% endif %}
			</div>
			<div class="modal-body">
				<div class="control-group">
					{% if form.student_code.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_code.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label" for="inputID">Código:</label>
					<div class="controls">
						{{ form.student_code }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_document_id.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_document_id.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Documento:</label>
					<div class="controls">
						{{ form.student_document_id }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_first_name.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_first_name.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Nombres:</label>
					<div class="controls">
						{{ form.student_first_name }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_last_name.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_last_name.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Apellidos:</label>
					<div class="controls">
						{{ form.student_last_name }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_mobile_number.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_mobile_number.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Teléfono:</label>
					<div class="controls">
						{{ form.student_mobile_number }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_address.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_address.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Dirección:</label>
					<div class="controls">
						{{ form.student_address }}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_gender.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_gender.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Género:</label>
					<div class="controls">
						{% for gender in form.student_gender %}
							<div class="radio inline">
								{{ gender }}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_date_of_birth.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_date_of_birth.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Fecha de nacimiento:</label>
					<div class="controls">
						{{ form.student_date_of_birth }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/students" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
	
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<div id="m_c_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				<h3 id="myModalLabel">Consultar Estudiante</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					{% if form.student_code.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_code.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Código:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_code.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_document_id.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_document_id.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Documento:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_document_id.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_first_name.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_first_name.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Nombres:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_first_name.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_last_name.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_last_name.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Apellidos:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_last_name.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_mobile_number.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_mobile_number.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Teléfono:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_mobile_number.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_address.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_address.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Dirección:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_address.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					{% if form.student_gender.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_gender.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Género:</label>
					<div class="controls">
						{% for student_gender in form.student_gender %}
							<div class="radio inline">
								<span class="disabled">
									{% if gender == student_gender.choice_label %}
										<input type='radio' name='val' disabled='disabled' checked="checked"/>
									{% else %}
										<input type='radio' name='val' disabled='disabled'/>
									{% endif %}
									{{ student_gender.choice_label }}
								</span>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="control-group">
					{% if form.student_date_of_birth.errors %} 
						<div class="alert alert-error">
							 <button type="button" class="close" data-dismiss="alert">&times;</button>
							 <p>{{ form.student_date_of_birth.errors.as_text }}</p>
						</div>
					{% endif %}
					<label class="control-label">Fecha de nacimiento:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form.student_date_of_birth.value }}
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/students" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
	
	<form method="post">
		{% csrf_token %}
		<div id="m_d_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				<h3 id="myModalLabel">Eliminar Estudiante</h3>
			</div>
			<div class="modal-body">
				<p>¿Esta seguro que desea eliminar a: {{student.student_first_name}} {{student.student_last_name}}?</p>
			</div>
			<div class="modal-footer">
				<a href="/students" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-danger">Eliminar</button>
			</div>
		</div>
	</form>
{% endblock %}