{% extends 'base_administrator.html' %}

{% block titulo %}
	Estudiantes
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido%}
	<div class="container-fluid">
		<form name="optionsStudents" method="post" class="form-inline text-center">
			{% csrf_token %}
			<a href="/students/new" role="button" class="btn btn-primary"><i class="icon-plus"></i>Nuevo</a>
			
			<label id="margins">Estado</label>
			<select name="states" onchange="update_students()">
				{% if state_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% if state_selected == '1' %}
					<option value="1" selected="selected">Matriculado</option>
				{% else %}
					<option value="1">Matriculado</option>
				{% endif %}
				{% if state_selected == '0' %}
					<option value="0" selected="selected">No matriculado</option>
				{% else %}
					<option value="0">No matriculado</option>
				{% endif %}
			</select>
			
			<label id="margins">Sede</label> 
			<select name="headquarters" onchange="update_students()">
				{% if headquarter_selected == '-1' %}
					<option value="-1" selected="selected">Todas</option>
				{% else %}
					<option value="-1">Todas</option>
				{% endif %}
				{% for headquarter in headquarters %}
					{% if headquarter_selected == headquarter.headquarter_id %}
						<option value="{{headquarter.headquarter_id}}" selected="selected">{{headquarter}}</option>
					{% else %}
						<option value="{{headquarter.headquarter_id}}">{{headquarter}}</option>
					{% endif %}
				{% endfor %}
			</select>
			
			<label id="margins">Grado</label> 
			<select name="grades" onchange="update_students()">
				{% if grade_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% for grade in grades %}
					{% if grade_selected == grade.grade_id %}
						<option value="{{grade.grade_id}}" selected="selected">{{grade.grade_name}}</option>
					{% else %}
						<option value="{{grade.grade_id}}">{{grade.grade_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
			
			<label id="margins">Curso</label>
			<select name="courses" onchange="update_students()">
				{% if course_selected == '-1' %}
					<option value="-1" selected="selected">Todos</option>
				{% else %}
					<option value="-1">Todos</option>
				{% endif %}
				{% for course in courses %}
					{% if course_selected == course.course_id %}
						<option value="{{course.course_id}}" selected="selected">{{course.course_name}}</option>
					{% else %}
						<option value="{{course.course_id}}">{{course.course_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</form>
	 	{% if message %}	
			<div class="alert alert-success">
			 	<p>{{message}}</p>
			</div>
		{% endif %}
		
		<div id="scroll">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Matriculado en</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
				{% for student in students %}
					{% if student.student_matriculated == 0 %}
						<tr class="error">
					{% else %}
						<tr>
					{% endif %}
						<td>{{ student.student_code }}</td>
						<td>{{ student.student_first_name }}</td>
						<td>{{ student.student_last_name }}</td>
												
						{% if student.student_course == None %}
							<td>Sin curso</td>
						{% else %}
							<td>{{ student.student_course.course_name }}</td>
						{% endif %}
						
						<td>
							{% if student.student_matriculated == 0 %}
								<a href="/students/enrollment/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
								<i class="icon-pencil"></i> Matricular</a>
							{% else %}
								<a href="/students/edit_enrollment/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
								<i class="icon-pencil"></i> Editar matricular</a>
							{% endif %}
							<a href="/students/details/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
							<i class="icon-eye-open"></i> Detalles</a>
							<a href="/students/edit/{{student.student_id}}" role="button" class="btn btn-mini btn-primary">
							<i class="icon-pencil"></i> Editar</a>
							<a href="/students/delete/{{student.student_id}}" role="button" class="btn btn-mini btn-danger">
							<i class="icon-trash"></i> Eliminar</a>
						</td>
					</tr>
					{% empty %}
						<div class="alert alert-error">
							 <p>Ningún estudiante para mostrar.</p>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	{% if form_details %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	model_details_student();
		    });
		</script>
	{% elif student_delete %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	 model_delete_student();
		    });
		</script>
	{% elif register %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	model_register();
		    });
		</script>
	{% elif form_student %}
		<script type="text/javascript">
		    $(document).ready(function(){
		    	model_student();
		    });
		</script>
	{% endif %}
	
	<script>
		$(function() {
			$('#id_student_date_of_birth').datepicker();
		});
	</script>
	
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<div id="m_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				{% if edit %}
					<h3 id="myModalLabel">Editar Estudiante</h3>
				{% else %}
					<h3 id="myModalLabel">Registro Nuevo Estudiante</h3>
				{% endif %}
			</div>
			<div class="modal-body">					
				{% if form_student.student_code.errors %}
					<div class="control-group error">
						<label class="control-label">Código:</label>
						<div class="controls">
							{{ form_student.student_code }}
							<span class="help-inline"> {{ form_student.student_code.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Código:</label>
						<div class="controls">
							{{ form_student.student_code }}
						</div>
					</div>
				{% endif %}
				{% if form_student.student_document_id.errors %}
					<div class="control-group error">
						<label class="control-label">Documento:</label>
						<div class="controls">
							{{ form_student.student_document_id }}
							<span class="help-inline"> {{ form_student.student_document_id.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Documento:</label>
						<div class="controls">
							{{ form_student.student_document_id }}
						</div>
					</div>
				{% endif %}
				
				{% if form_student.student_first_name.errors %}
					<div class="control-group error">
						<label class="control-label">Nombres:</label>
						<div class="controls">
							{{ form_student.student_first_name }}
							<span class="help-inline"> {{ form_student.student_first_name.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Nombres:</label>
						<div class="controls">
							{{ form_student.student_first_name }}
						</div>
					</div>
				{% endif %}
				
				{% if form_student.student_last_name.errors %}
					<div class="control-group error">
						<label class="control-label">Apellidos:</label>
						<div class="controls">
							{{ form_student.student_last_name }}
							<span class="help-inline"> {{ form_student.student_last_name.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Apellidos:</label>
						<div class="controls">
							{{ form_student.student_last_name }}
						</div>
					</div>
				{% endif %}
				
				{% if form_student.student_mobile_number.errors %}
					<div class="control-group error">
						<label class="control-label">Teléfono:</label>
						<div class="controls">
							{{ form_student.student_mobile_number }}
							<span class="help-inline"> {{ form_student.student_mobile_number.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Teléfono:</label>
						<div class="controls">
							{{ form_student.student_mobile_number }}
						</div>
					</div>
				{% endif %}
				
				{% if form_student.student_address.errors %}
					<div class="control-group error">
						<label class="control-label">Dirección:</label>
						<div class="controls">
							{{ form_student.student_address }}
							<span class="help-inline"> {{ form_student.student_address.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Dirección:</label>
						<div class="controls">
							{{ form_student.student_address }}
						</div>
					</div>
				{% endif %}
				
				{% if form_student.student_gender.errors %}
					<div class="control-group error">
						<label class="control-label">Género:</label>
						<div class="controls">
							{% for gender in form_student.student_gender %}
								<div class="radio inline">
									{{ gender }}
								</div>
							{% endfor %}
							<span class="help-inline"> {{ form_student.student_gender.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Género:</label>
						<div class="controls">
							{% for gender in form_student.student_gender %}
								<div class="radio inline">
									{{ gender }}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				{% if form_student.student_date_of_birth.errors %}
					<div class="control-group error">
						<label class="control-label">Fecha de nacimiento:</label>
						<div class="controls">
							{{ form_student.student_date_of_birth }}
							<span class="help-inline"> {{ form_student.student_date_of_birth.errors.as_text }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Fecha de nacimiento:</label>
						<div class="controls">
							{{ form_student.student_date_of_birth }}
						</div>
					</div>
				{% endif %}	
			</div>
			<div class="modal-footer">
				<a href="/students" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
	
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<div id="m_details_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				<h3 id="myModalLabel">Detalles Estudiante</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label">Código:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_code.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Documento:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_document_id.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Nombres:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_first_name.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Apellidos:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_last_name.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Teléfono:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_mobile_number.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Dirección:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_address.value }}
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Género:</label>
					<div class="controls">
						{% for student_gender in form_details.student_gender %}
							<div class="radio inline">
								<span class="disabled">
									{% if gender == student_gender.choice_label %}
										<input type='radio' name='val' disabled='disabled' checked="checked"/>
									{% else %}
										<input type='radio' name='val' disabled='disabled'/>
									{% endif %}
									{{ student_gender.choice_label }}
								</span>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Fecha de nacimiento:</label>
					<div class="controls">
						<span class="uneditable-input">
							{{ form_details.student_date_of_birth.value }}
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/students" type="button" class="btn">Cancelar</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
	
	<form method="post">
		{% csrf_token %}
		<div id="m_delete_student" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
			<div class="modal-header">
				<a href="/students" type="button" class="close">×</a>
				<h3 id="myModalLabel">Eliminar Estudiante</h3>
			</div>
			{% if warning %}
				<div class="modal-body">
					<div class="alert alert-error">
						 <p>{{warning}}</p>
					</div>
				</div>
				<div class="modal-footer">
					<a href="/students" type="button" class="btn">Aceptar</a>
				</div>
			{% else %}
				<div class="modal-body">
					<p>¿Esta seguro que desea eliminar a: {{student_delete.student_first_name}} {{student_delete.student_last_name}}?</p>
				</div>
				<div class="modal-footer">
					<a href="/students" type="button" class="btn">Cancelar</a>
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</div>
			{% endif %}
		</div>
	</form>
	
	<div id="m_register" class="modal hide fade" tabindex="-1" data-keyboard='false' data-backdrop='static'>
		<div class="modal-header">
			<a href="/students" type="button" class="close">×</a>
			{% if last_course %}
				<h3 id="myModalLabel">Editar Matricula Estudiante</h3>
			{% else %}
				<h3 id="myModalLabel">Matricular Estudiante</h3>
			{% endif %}
		</div>		
		<div class="modal-body">
			<form name="optionsRegister" method="post" class="form-inline text-center">
				{% csrf_token %}
				<label>Sede</label> 
				<select name="register_headquarters" onchange="update_register()">
					{% if headquarter_selected == '-1' %}
						<option value="-1" selected="selected">Todas</option>
					{% else %}
						<option value="-1">Todas</option>
					{% endif %}
					{% for headquarter in headquarters %}
						{% if headquarter_selected == headquarter.headquarter_id %}
							<option value="{{headquarter.headquarter_id}}" selected="selected">{{headquarter}}</option>
						{% else %}
							<option value="{{headquarter.headquarter_id}}">{{headquarter}}</option>
						{% endif %}
					{% endfor %}
				</select>
				
				<label>Grado</label> 
				<select name="register_grades" onchange="update_register()">
					{% if grade_selected == '-1' %}
						<option value="-1" selected="selected">Todos</option>
					{% else %}
						<option value="-1">Todos</option>
					{% endif %}
					{% for grade in grades %}
						{% if grade_selected == grade.grade_id %}
							<option value="{{grade.grade_id}}" selected="selected">{{grade.grade_name}}</option>
						{% else %}
							<option value="{{grade.grade_id}}">{{grade.grade_name}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</form>
			<form name="register" method="post" class="form-horizontal">
				{% csrf_token %}
				{% if warning %}
					<div class="control-group error">
						<label class="control-label">Curso</label>
						<div class="controls">
							<select name="register_courses">
								{% for course in courses %}
									{% if course_selected == course.course_id %}
										<option value="{{course.course_id}}" selected="selected">{{course.course_name}}</option>
									{% else %}
										<option value="{{course.course_id}}">{{course.course_name}}</option>
									{% endif %}
								{% endfor %}
							</select>
							<span class="help-inline"> {{warning }} </span>
						</div>
					</div>
				{% else %}
					<div class="control-group">
						<label class="control-label">Curso</label>
						<div class="controls">
							<select name="register_courses">
								{% for course in courses %}
									{% if course_selected == course.course_id %}
										<option value="{{course.course_id}}" selected="selected">{{course.course_name}}</option>
									{% else %}
										<option value="{{course.course_id}}">{{course.course_name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				{% endif %}
			</form>
		</div>
		<div class="modal-footer">
			<a href="/students" type="button" class="btn">Cancelar</a>
			{% if edit_enrollment %}
				<a href="/students/cancel_enrollment/{{student_id}}" type="button" class="btn btn-danger">Cancelar Matrícula</a>
			{% endif %}
			<button class="btn btn-primary" onclick="save_register()">Guardar</button>
		</div>
		</form>
	</div>
{% endblock %}