{% extends 'base_administrator.html' %}

{% block titulo %} Materias {% endblock %}

{% block encabezado %} 
	
{% endblock %}

{% block contenido %}
<div class="container-fluid">
	<button type="submit" id="buttonLogin" class="btn btn-large btn-primary offset0.5"><i class="icon-plus"></i>Nuevo</button>

	<br></br>
	
	</form>
	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Grado</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Educación Sexual</td>
					<td>Once</td>
					<td>  <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %} 

{% block piepagina %}{% endblock %}