{% extends 'base_administrator.html' %}

{% block titulo %} Profesores {% endblock %}

{% block encabezado %} 
	
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	<button type="submit" id="buttonLogin" class="btn btn-large btn-primary offset0.5"><i class="icon-plus"></i>Nuevo</button>

	<br></br>
	
	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Cédula</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Correo</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td>  <a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i class="icon-pencil"></i>Editar</a>  <a href=""><i class="icon-trash"></i>Eliminar</a></td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>

{% endblock %} 

{% block piepagina %}{% endblock %}