{% extends 'base_administrator.html' %}
{% block titulo %} Profesores {%endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}

<div class="container-fluid">

	<button type="button" class="btn btn-primary offset0.5"
		data-toggle="modal" data-target="#m_n_teacher">
		<i class="icon-plus"></i>Nuevo
	</button>

	<br></br>

	<div id="scroll">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Cédula</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Correo</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
				<tr>
					<td>Alexander</td>
					<td>Castro</td>
					<td>1034657980</td>
					<td>Barrio Galan</td>
					<td>3014567890</td>
					<td>alex@example.com</td>
					<td><a href=""><i class="icon-eye-open"></i>Ver</a> <a href=""><i
							class="icon-pencil"></i>Editar</a> <a href=""><i
							class="icon-trash"></i>Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="m_n_teacher" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="myModalLabel">Registro Nuevo Docente</h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputName">Nombres:</label>
				<div class="controls">
					<input type="text" id="inputName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastName">Apellidos:</label>
				<div class="controls">
					<input type="text" id="inputLastName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputID">Cédula:</label>
				<div class="controls">
					<input type="text" id="inputID">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputAddress">Dirección:</label>
				<div class="controls">
					<input type="text" id="inputAddress">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPhone">Telefono:</label>
				<div class="controls">
					<input type="text" id="inputPhone">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email:</label>
				<div class="controls">
					<input type="text" id="inputEmail">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancelar</button>
		<button class="btn btn-primary">Guardar</button>
	</div>
</div>

{% endblock %}
{% block piepagina %}
{% endblock %}