<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
<title>Sistema Integrado de Gestión de Notas</title>
<!—[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]—>
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css"
	rel="stylesheet">
</head>

<body>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand">Colegio Huellitas Genitales</a>

				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="#"><i
						class="icon-user icon-white"></i> Usuario</a> <a
						class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
						href="#"><span class="caret"></span></a>

					<ul class="dropdown-menu">
						<li><a href="#"><i class="icon-cog"></i> Editar perfil</a></li>
						<li><a href="#"><i class="icon-pencil"></i> Cambiar
								contraseña</a></li>
						<li class="divider"></li>
						<li><a href="/logout_school"><i class="i"></i> Salir</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container_top">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 offset1">
					<a href="/qualification" title="Calificaciones">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Calificaciones</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Materias">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Materias</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Profesores">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Profesores</h1>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Informes">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Informes</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Logros">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Logros</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Grados">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Grados</h1>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Cursos">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Cursos</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Estudiantes">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Estudiantes</h1>
				</div>
				<div class="span3 offset1">
					<a href="http://eventurb.com" title="Sedes">
	                    <img src="{{MEDIA_URL}}img/img.jpg" alt="">
	                </a>
					<h1>Sedes</h1>
				</div>
			</div>
		</div>
	</div>
</body>

<footer class="footer">
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
		<h5 class="text-center">Desarrollado por: <a href="www.google.com" target="_blank" class="footerLink">Smile
					Software</a> &copy; 2013</h5>
		</div>
		</div>	
	</footer>
</html>