#loginTitle{
	font-size:400%;
	text-align:center;
	margin-top:15%;
}

#borderTopLogin{
	margin-top:3%;
	margin-bottom: 8%;
	border-bottom: thick double black;
}

#formCenter{
	text-align:center;
}

#borderBottomLogin{
	margin-top:7%;
	border-bottom: thick double black;
}

#buttonLogin{
	margin-left: 5%;	
}


.verticalNav{
	margin: 100px;
}

.container_general{
	padding-top: 50px;
	padding-bottom: 50px;
} 

.comboboxPeriodo{
	width: 100px;
}

.comboboxSede{
	width: 150px;
}

#scroll{
	height: 450px;
	overflow-y: scroll;
}

#margins{
	margin-left: 4%;
}